<ion-view view-title="{{point.name}}" hide-back-button="false" hide-tabs>
  <ion-content class="padding">
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img ng-src="{{point.face}}">
        <h2>{{point.name}}</h2>
        <p>{{point.lastText}}</p>
      </a>
    </div>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light" style="height:49px;">
      <div class="tabs" style="top: 120px;">
        <a class="tab-item tab-icon-top" ui-sref="tab.point-detail.home" ui-sref-active="active">
          资料
        </a>
        <a class="tab-item" ui-sref="tab.point-detail.star" ui-sref-active="active">
          比赛数据
        </a>
      </div>
    </div>
    <div class="row" ui-view="point-detail">
    </div>
  </ion-content>
</ion-view>
