<ion-view view-title="赛事">
  <ion-header-bar class="bar-positive">
    <button class="button button-icon ion-navicon" ng-click="slideSetting()"></button>
    <h1 class="title">赛事</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="match in matches" type="item-text-wrap" href="#/tab/matches/{{match.id}}">
        <img ng-src="{{match.face}}">
        <h2>{{match.name}}</h2>
        <p>{{match.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(match)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
